.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logo {
  font-size: 2em; /* Larger font size */
  color: #9eb574c2; /* Dark color for contrast */
  margin: 0; /* Remove default margin */
}

.nav-links {
  display: flex;
  gap: 20px; /* Space between links */
}


.nav-links a {
  text-decoration: none; /* Remove underline */
  color: #9f4666; /* Link color */
  font-weight: bold; /* Bold text */
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav-links a:hover {
  color: #b7a01c; /* Darker color on hover */
}